
@{
  Departement departement = ViewBag.departement;
} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupure</title>
    <link rel="stylesheet" href="assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">

</head>
<body>

    <div class="container">
        <h1>Coupure</h1>

        <p>Departement : @departement.getId_departement() </p>
        <p>Date : @ViewBag.date</p>
        <p>Heure : @ViewBag.datecoupure </p>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button"><a href="versdetailcoupure?id_departement=@departement.getId_departement()&date=@ViewBag.date">Detail</a></button>
        </div>
    </div>  
</body>
</html>